/* this isn't intended to be an actual css page, it's just here so i can see the color boxes */

#Red {
  background-color: #ff0000;
}

#Orange {
  background-color: #ffa500;
}

#Yellow {
  background-color: #ffff00;
}

#Green {
  background-color: #008000;
}

#Lime {
  background-color: #00ff00;
}

#Cyan {
  background-color: #00ffff;
}

#Blue {
  background-color: #0000ff;
}

#Purple {
  background-color: #800080;
}

#Magenta {
  background-color: #ff00ff;
}

#Silver {
  background-color: #c0c0c0;
}

#Gray {
  background-color: #808080;
}

#White {
  background-color: #ffffff;
}

#Black {
  background-color: #000000;
}

#Pink {
  background-color: #ffc0cb;
}

#Gold {
  background-color: #ffd700;
}

#GreenYellow {
  background-color: #adff2f;
}

#ForestGreen {
  background-color: #228b22;
}

#OrangeRed {
  background-color: #ff4500;
}

#DarkViolet {
  background-color: #9400d3;
}

#DarkRed {
  background-color: #8b0000;
}

#Maroon {
  background-color: #800000;
}

#HotPink {
  background-color: #ff69b4;
}

#LightYellow {
  background-color: #ffffe0;
}

#LimeGreen {
  background-color: #32cd32;
}

#MediumTurquoise {
  background-color: #48d1cc;
}

#SlateBlue {
  background-color: #6a5acd;
}

#SeaGreen {
  background-color: #2e8b57;
}

#DodgerBlue {
  background-color: #1e90ff;
}

#Aquamarine {
  background-color: #7fffd4;
}

#Coral {
  background-color: #ff7f50;
}

#GoldenRod {
  background-color: #daa520;
}

#DarkOrange {
  background-color: #ff8c00;
}

#DarkOrchid {
  background-color: #9932cc;
}

#Indigo {
  background-color: #4b0082;
}

#DarkMagenta {
  background-color: #8b008b;
}

#DeepPink {
  background-color: #ff1493;
}

#AntiqueWhite {
  background-color: #faebd7;
}

#Chartreuse {
  background-color: #7fff00;
}

#Gold {
  background-color: #ffd700;
}

#LightSalmon {
  background-color: #ffa07a;
}

#OliveDrab {
  background-color: #6b8e23;
}

#DarkGoldenRod {
  background-color: #b8860b;
}

#DarkKhaki {
  background-color: #bdb76b;
}

#LightSteelBlue {
  background-color: #b0c4de;
}

#LightSeaGreen {
  background-color: #20b2aa;
}

#SkyBlue {
  background-color: #87ceeb;
}

#HotPink {
  background-color: #ff69b4;
}

#Peru {
  background-color: #cd853f;
}

#Coral {
  background-color: #ff7f50;
}

#Plum {
  background-color: #dda0dd;
}
