body {
  font-family: verdana;
  background-color: #fafafa;
  margin: 0;
}

h1 {
  font-size: 1.5rem;
}

#page-container-div {
  display: flex;
  box-sizing: content-box;
  border-radius: 0.5rem;
  margin: 0.1rem;
}

#page-container-left-divs {
  display: flex;
  flex-direction: column;
}

#cpg-div {
  box-sizing: fit-content;
  border-radius: 0.5rem;
  min-height: 20vh;
  max-height: fit-content;
  width: 25vw;
  margin: 0.25rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(100, 100, 100, 0.4);
}

#component-div {
  box-sizing: content-box;
  border-radius: 0.5rem;
  height: 60vh;
  width: 25vw;
  margin: 0.25rem;
}

#preview-pane-div {
  box-sizing: content-box;
  border-radius: 0.5rem;
  height: 100vh;
  width: 74vw;
  margin: 0.25rem;
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 0.5rem;
}

nav {
  display: flex;
  justify-content: space-around;
}

#cpg-container {
  box-sizing: content-box;
  max-width: 25vw;
  min-width: 20vw;
  margin-top: 0.5rem;
  min-height: 20vh;
  max-height: 42vh;
  padding: 0.2rem;
  box-shadow: inset 1px 1px 1rem 1px rgba(100, 100, 100, 0.2);
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.cpg-color {
  display: flex;
  align-items: center;
  width: 24vw;
  margin: 2px;
  min-height: 5vh;
  border-radius: 0.5rem;
}

.ColorGen {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cpg-form-div > form {
  /* border: 10px solid red; */
  max-width: 20vw;
  min-width: 10vw;
}
.cpg-form-div > form > input,
.cpg-form-div > form > select {
  border: 1px solid rgba(100, 100, 100, 0.4);
  border-radius: 0.2rem;
  padding: 2px;
  margin: 2px;
}

.setBackgroundButton {
  width: 100%;
  margin: 2px 0;
  padding: 4px 2px;
  border: 1px solid #2d545e;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: #2d545e;
  background-color: 0;
}
.setBackgroundButton:hover {
  cursor: pointer;
  color: white;
  border-radius: 4px;
  background-color: #2d545e;
  border: 1px solid #ccc;
}

.pointer-on-hover {
  cursor: pointer;
}

/* PREVIEW PANE DIVS */

.preview-pane-container {
  /* z-index: -1; */
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 8vh 8vh 1fr;
  grid-gap: 10px;
  height: fit-content;
  border: 0.1px solid rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 1rem;
}
#previewTitle {
  /* z-index: -1; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: lightgray;
  border: 2px solid darkgray;
  border-radius: 0.25rem;
  box-sizing: border-box;
  grid-row: 1;
  grid-column: 1 / 3;
}
#previewNav {
  /* z-index: -1; */
  /* display: flex; */
  flex-grow: 1;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  background-color: lightgray;
  border: 2px solid darkgray;
  border-radius: 0.25rem;
  box-sizing: border-box;
  grid-row: 2;
  grid-column: 1 / 3;
  /* display: flex; */
}
#previewSideNav {
  /* z-index: -2; */
  display: flex;
  /* padding-top: 8vh; */
  justify-content: space-around;
  background-color: lightgray;
  border: 2px solid darkgray;
  border-radius: 0.25rem;
  box-sizing: border-box;
  grid-row: 3;
  grid-column: 1;
}
main {
  /* z-index: -2; */
  border: 1px solid lightgray;
  padding: 1rem;
  grid-row: 3 / 5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 100px;
  grid-gap: 4px;
}

main > #previewCardContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  grid-row: 1;
  grid-column: 1 / span 3;
}

#previewCardContainer > #previewCard {
  /* z-index: -2; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 40vh;
  min-width: 13vw;
  max-width: 18vw;
  max-height: 100%;
  background-color: lightgray;
  border: 2px solid darkgray;
  border-radius: 0.25rem;
  box-sizing: border-box;
}
#previewForm {
  /* z-index: -2; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  margin: 1rem;
  background-color: lightgray;
  border: 2px solid darkgray;
  border-radius: 0.25rem;
  box-sizing: border-box;
  grid-row: 2;
  grid-column: 1 / span 3;
}

main > #previewButtonContainer {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  grid-row: 3;
  grid-column: 1 / span 3;
}

#previewButtonContainer > #previewButton {
  /* z-index: -2; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  border: 2px solid darkgray;
  border-radius: 0.25rem;
  box-sizing: border-box;
  grid-row: 3;
  width: 7vw;
  height: 3.5vh;
}
/* Below is the the css styles for the navbar dropdown menu. The first block of code 
  makes the links hidden by default, the second block adds styles to the content, and
  the third makes it so that when the div containing the dropdown is hovered, the links will appear */

/* .dropdown-content a:hover {
  background-color: primaryColor;
}
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: primaryColor;
}
.dropbtn:hover {
  border: 10px solid red;
}

.navbar > a:hover {
  border: 10px solid red;
}
.navbar {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
} */

/* Component list  -mt*/

.componentlist {
  border: 1px solid rgba(100, 100, 100, 0.2);
  border-radius: 1rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1vw;
}

.componentlist h3 {
  margin: 4;
  font-size: calc(12px + 0.5vw);
}

/* .componentlist ul {
  list-style: none;
  margin: 0.2rem;
  padding: 0.2rem;
}

.componentlist ul li {
  text-align: center;
}

.componentlist li {
  font-size: calc(8px + 0.5vw);
} */

.componentContainer {
  display: flex;
  flex-direction: column;
  /* margin-right: 20px; */
}
.componentTypes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.componentTypes :hover {
  cursor: pointer;
}

.componentNamesContainer {
  margin-top: 1vh;
  margin-bottom: 1vh;
  display: flex;
  flex-direction: column;
  min-width: 10vw;
  min-height: 28vh;
  border-radius: 1rem;
}
.componentNames {
  font-size: calc(8px + 0.5vw);
  display: none;
}
.componentNames.active {
  display: block;
}

.componentNames ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.componentNames li {
  cursor: pointer;
  margin-bottom: 5px;
}

.componentlist ul li:hover {
  animation: rainbow 1.5s linear infinite;
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/* Headers with Navbar color -mt*/

.header {
  color: #2d545e;
  font-size: calc(12px + 0.5vw);
  text-align: center;
  margin: 4px;
  padding: 4px;
}

h5 {
  font-size: calc(8px + 0.5vw);
  margin: 0.5rem;
}

/*Profile*/

.profile {
  display: flex;
  margin: 1rem;
  justify-content: space-between;
}

.custom-icon {
  color: #2d545e;
}

/*Rainbow components*/

.rainbowBtn {
  display: inline-block;
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  background-color: #2d545e;
}

.rainbowBtn:hover {
  background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
  color: white;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.rainbowBtn {
  animation: rainbow 3s linear infinite;
}

.rainbow-header {
  animation: rainbow 1.5s linear infinite;
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/* login page */

.login {
  margin-left: 8rem;
  margin-right: 8rem;
  margin-top: 2rem;
}

/* work on this */
@media screen and (max-width: 900px) {
  #previewSideNav {
    display: none;
  }
  .preview-pane-container {
    grid-template-columns: 1fr;
  }
  #previewCardContainer > #previewCard {
    min-width: 18vw;
    max-width: 20vw;
  }
}
