body {
  font-family: verdana;
  background-color: #fafafa;
  margin: 0;
}

h1 {
  font-size: 1.5rem;
}

#page-container-div {
  display: flex;
  box-sizing: content-box;
  border: 1px solid black;
  border-radius: 0.5rem;
  margin: 1rem;
}

#page-container-right-divs {
  display: flex;
  flex-direction: column;
  border: 1px solid salmon;
}

#cpg-div {
  box-sizing: content-box;
  border: 2px solid red;
  border-radius: 0.5rem;
  min-height: 8rem;
  width: 75vw;
  margin: 0.25rem;
}

#component-div {
  box-sizing: content-box;
  border: 2px solid green;
  border-radius: 0.5rem;
  height: 60vh;
  width: 20vw;
  margin: 0.25rem;
}

#preview-pane-div {
  border: 2px solid blue;
  border-radius: 0.5rem;
  height: 50vh;
  width: 75vw;
  margin: 0.25rem;
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 1rem;
}

nav {
  display: flex;
  justify-content: space-around;
}

#cpg-container {
  box-sizing: border-box;
  width: 500px;
  height: 5rem;
  border: 1px blanchedalmond solid;
  border-radius: 1rem;
  display: flex;
}

#cpg-color {
  height: 5rem;
  box-sizing: border-box;
}

.colorGen {
  display: flex;
}
