body {
  font-family: verdana;
  background-color: #fafafa;
  margin: 0;
}

h1 {
  font-size: 1.5rem;
}

#page-container-div {
  display: flex;
  box-sizing: content-box;
  border: 1px solid black;
  border-radius: 0.5rem;
  margin: 0.1rem;
}

#page-container-right-divs {
  display: flex;
  flex-direction: column;
  border: 1px solid salmon;
}

#cpg-div {
  box-sizing: content-box;
  /* border: 2px solid red;*/
  border-radius: 0.5rem;
  min-height: 55vh;
  width: 30vw;
  margin: 0.25rem;
}

#component-div {
  box-sizing: content-box;
 /* border: 2px solid green;*/
  border-radius: 0.5rem;
  height: 60vh;
  width: 30vw;
  margin: 0.25rem;
}

#preview-pane-div {
  box-sizing: content-box;
  /* border: 2px solid blue;*/
  border-radius: 0.5rem;
  height: 100vh;
  width: 69vw;
  margin: 0.25rem;
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 1rem;
}

nav {
  display: flex;
  justify-content: space-around;
}

#cpg-container {
  box-sizing: border-box;
  width: 30vw;
  margin-top: 1rem;
  height: 8vh;
  border: 2px blanchedalmond solid;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cpg-color {
  min-height: 8vh;
  box-sizing: border-box;
}

.colorGen {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* PREVIEW PANE DIVS */

.preview-pane-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 8vh 8vh 1fr auto;
  grid-gap: 10px;
  height: 100vh;
}
#previewTitle {
  background-color: lightgray;
  border: 2px solid darkgray;
  border-radius: 0.25rem;
  box-sizing: border-box;
  grid-row: 1;
  grid-column: 1 / 3;
}
#previewNav {
  background-color: lightgray;
  border: 2px solid darkgray;
  border-radius: 0.25rem;
  box-sizing: content-box;
  grid-row: 2;
  grid-column: 1 / 3;
  display: flex;
}
#previewSideNav {
  background-color: lightgray;
  border: 2px solid darkgray;
  border-radius: 0.25rem;
  box-sizing: border-box;
  grid-row: 3;
  grid-column: 1;
}
main {
  border: 1px solid black;
  margin: 1rem;
  grid-row: 3 / 5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 100px;
  grid-gap: 10px;
}
#previewCard {
  background-color: lightgray;
  border: 2px solid darkgray;
  border-radius: 0.25rem;
  box-sizing: border-box;
}
#previewForm {
  background-color: lightgray;
  border: 2px solid darkgray;
  border-radius: 0.25rem;
  box-sizing: border-box;
  grid-row: 2;
  grid-column: 1 / span 2;
}

#previewButton {
  background-color: lightgray;
  border: 2px solid darkgray;
  border-radius: 0.25rem;
  box-sizing: border-box;
  grid-row: 4;
}
/* Below is the the css styles for the navbar dropdown menu. The first block of code 
  makes the links hidden by default, the second block adds styles to the content, and
  the third makes it so that when the div containing the dropdown is hovered, the links will appear */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}



/* Component list  -marie*/

.componentlist {
  text-align: center;
}

.componentlist  ul {
  list-style: none;
  padding: 0;
}

.componentlist ul li {
  text-align: center;
}

.componentlist  ul  li:hover {
  animation: rainbow 1.5s linear infinite;
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rainbow-header {
  animation: rainbow 1.5s linear infinite;
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes rainbow {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

.componentlist h3 {
  text-align: center;
  margin: 4;
}

.header {
  color: #2d545e
}